<div class="card p-3">
  <div class="card-img-wrapper">
    <img *ngIf="acceptingProperty.Image" class="card-img-top" src="assets/images/{{acceptingProperty.Image}}.jpg">
    <img *ngIf="!acceptingProperty.Image" class="card-img-top" src="assets/images/house.jpg">
    <ul *ngIf="acceptingButtonFlag" class="list-inline text-center member-icons animate">
      <li class="list-inline-item"><button class="btn btn-primary"><a routerLink="/property-details/{{acceptingProperty.Id}}" style="color: aliceblue;">Edit</a></button></li>
      <li class="list-inline-item"><button class="btn btn-primary">Contacts</button></li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h2>{{acceptingProperty.Name}}</h2>
    <h3>{{acceptingProperty.Type}}</h3>
    <h3>{{acceptingProperty.Price}}</h3>
  </div>
</div>
